KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=yahyanursidik-keystatic

# Opsional: aktifkan untuk menguji login GitHub saat npm run dev.
# KEYSTATIC_STORAGE=github
